<body>
  <!--SECTION TOP LOGIN-->
  <section class="content-top-login">
    <div class="container">
      <div class="col-md-12">
        <div class="box-support">
          <p class="support-info"><i class="fa fa-envelope-o"></i> info@wttennis.com</p>
        </div>
        
        <div class="box-login">
          <a  href='/login'><i class="fa fa-user">&emsp;&emsp;Login</i></a>
          <a href='/inscrit'><i class="fa fa-user-plus">&emsp;&emsp;Sign Up</i></a>
          <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="cart-prod hiddenbox">
          <div class="sec-prod">
            <div class="content-cart-prod">
              <i class="fa fa-times"></i>
              <img src="assets/user/images/shop/bags1.jpg" alt="" />
              <p>FIVE BLX</p>
              <p>1 X $55.00</p>
            </div>
            <div class="content-cart-prod">
              <i class="fa fa-times"></i>
              <img class="racket-img" src="assets/user/images/shop/1_100L.jpg" alt="" />
              <p>FIVE BLX</p>
              <p>1 X $125.00</p>
            </div>
            <div class="content-cart-prod">
              <p class="cart-tot-price">Total: $180.00</p>
              <a href="#" class="btn-cart">Go to cart</a>
              <a href="#" class="btn-cart">Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--SECTION MENU -->
  <section class="container box-logo">
    <header>
      <div class="content-logo col-md-12">
        <div class="logo">
          <img src="assets/user/img/logo2.png" alt="" />
        </div>

        <div class="bt-menu"><a href="#" class="menu"><span>&equiv;</span> Menu</a></div>

        <div class="box-menu">

          <nav id="cbp-hrmenu" class="cbp-hrmenu">
            <ul id="menu">
              <li><a class="lnk-menu active" href="/home">Home</a></li>
              <li><a class="lnk-menu" href="/coach">coach</a></li>
              <li><a class="lnk-menu" href="/calander">Calander</a></li>
              <li><a class="lnk-menu" href="/shop">Shop</a></li>
              <li><a class="lnk-menu" href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </section>

</body>

