
<body>
   <section class="drawer">
    <div class="col-md-12 size-img back-img-shop">
        <div class="effect-cover">
            <h3 class="txt-advert animated">The best Product for player</h3>
            <p class="txt-advert-sub">Rackets - Ball - Bags - Shoes</p>
        </div>
    </div>
    
    <section id="shop" class="container secondary-page">
      <div class="general general-results">
           <div class="top-score-title right-score col-md-9">
                <h3>FIND YOUR <span>Products</span><span class="point-little">.</span></h3>
               
                <div class="col-md-12 shops shops-top">
                    <div class="col-md-4 shop-prod">
                     <img src="assets/user/images/shop/bags1.jpg" alt="" />
                        <div class="title-prod"><a href="details_prod.html" >JUICE <span>100S</span></a></div>
                        <div class="prod-buy"><a href="#" class="prod-cart"><i class="fa fa-shopping-cart"></i>Add</a><p class="prod-sh-price">$35.00</p></div>
                    </div> 
                    
                </div>
           </div><!--Close Top Match-->
          <div class="col-md-3 right-column">
           <div class="top-score-title prod-cat col-md-12">
                <h3>Products</h3>
                <div class="products-content">
                    <a href="/racket" class="news-title-right">Rackets</a>
                </div>
                <div class="products-content">
                    <a href="/bag" class="news-title-right">Bags</a>
                </div>
                <div class="products-content">
                    <a href="/ball" class="news-title-right">Balls</a>
                </div>
                <div class="products-content">
                    <a href="/shose" class="news-title-right">Shoes</a>
                </div>
                <div class="products-content">
                    <a href="/accessorie" class="news-title-right">Accessories</a>
                </div>
          </div>
        </div>
        </div>
        </section>

</section>


</body>

