<div>
   <app-navbar></app-navbar>
</div>
<section id="summary-slider">
       <div class="general">
    <div class="content-result content-result-news col-md-12">
      <div id="textslide" class="effect-backcolor">
         <div class="container">
             <div class="col-md-12 slide-txt">
                 <p class='sub-result aft-little welcome linetheme-left'>Creative</p>
                 <p class='sub-result aft-little linetheme-right'>Web Design<span class="point-big">.</span></p>
             </div>
         </div>
      </div>
    </div>
    <div id="slidematch" class="col-xs-12 col-md-12">
           <div class="content-match-team-wrapper">
              <span class="gdlr-left">Real Tennis</span>
              <span class="gdlr-upcoming-match-versus">VS</span>
              <span class="gdlr-right">Wednesday Club</span>
           </div>
           <div class="content-match-team-time">
              <span class="gdlr-left">23 Sep 2016 - 14:00</span>
              <span class="gdlr-right">Real Stadium</span>
           </div>
        </div>
  </div>
</section>
<app-footer></app-footer>
